{% extends 'layout.html' %}

{% block content %}
<div class="card">
    <div class="card-body">
        <h2 class="card-title">Resetar a Senha</h2>
        <p class="card-text">Por favor, insira o seu endereço de email. Se ele estiver no nosso sistema, enviaremos um link para resetar a sua senha.</p>
        <form method="POST" action="{{ url_for('forgot_password') }}">
            <div class="mb-3">
                <label for="email" class="form-label">Endereço de Email</label>
                <input type="email" class="form-control" id="email" name="email" required>
            </div>
            <button type="submit" class="btn btn-warning">Enviar Link de Reset</button>
        </form>
    </div>
</div>
{% endblock %}